force-app/main/default/flows/HOT_LOS_Recurring_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>addAccountToList</name>
        <label>addAccountToList</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>accountIdsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopThroughAccounts.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_newEntitlementFullYear</name>
        <label>Copy 2 of newEntitlementFullYear</label>
        <locationX>264</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.Is_recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createEntitlements.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.EntitledHoursUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.EntitledHoursAlreadyUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.EntitledHours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createEntitlements.EntitledHours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.ToDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add1YearEnd31DecemberToDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.FromDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add1YearStart1JanuaryFromDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createEntitlements.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newEntitlementRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEntitlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>removeNewEntitlementToAvoidOverlap</name>
        <label>removeNewEntitlementToAvoidOverlap</label>
        <locationX>704</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>newEntitlements</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>newEntitlementsLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>existingEntitlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateEntitlement</name>
        <label>updateEntitlement</label>
        <locationX>264</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>createEntitlements.HasBeenRecurred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>entitlementsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createEntitlements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createEntitlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateEntitlementWhenDead</name>
        <label>updateEntitlementWhenDead</label>
        <locationX>528</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>createEntitlements.Is_recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>entitlementsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createEntitlements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createEntitlements</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkForOverlap</name>
        <label>checkForOverlap</label>
        <locationX>836</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>existingEntitlements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasOverlap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingEntitlements.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newEntitlementsLoop.Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>existingEntitlements.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newEntitlementsLoop.Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>existingEntitlements.FromDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>newEntitlementsLoop.ToDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>existingEntitlements.ToDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>newEntitlementsLoop.FromDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>removeNewEntitlementToAvoidOverlap</targetReference>
            </connector>
            <label>hasOverlap</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfDead</name>
        <label>checkIfDead</label>
        <locationX>396</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>updateEntitlementWhenDead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotDead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createEntitlements.Account__r.CRM_Person__r.INT_IsDeceased__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_newEntitlementFullYear</targetReference>
            </connector>
            <label>isNotDead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>add1YearEnd31DecemberToDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
            YEAR({!createEntitlements.ToDate__c}) + 1,
            12,
            31
            )</expression>
    </formulas>
    <formulas>
        <name>add1YearStart1JanuaryFromDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
            YEAR({!createEntitlements.FromDate__c}) + 1,
            1,
            1
            )</expression>
    </formulas>
    <interviewLabel>HOT LOS Recurring Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT LOS Recurring Entitlement</label>
    <loops>
        <name>createEntitlements</name>
        <label>createEntitlements</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <collectionReference>getEntitlements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkIfDead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>newEntitlementsLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>existingEntitlements</name>
        <label>existingEntitlements</label>
        <locationX>616</locationX>
        <locationY>1476</locationY>
        <collectionReference>getOtherEntitlements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkForOverlap</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>newEntitlementsLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThroughAccounts</name>
        <label>loopThroughAccounts</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>getEntitlements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addAccountToList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getOtherEntitlements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>newEntitlementsLoop</name>
        <label>newEntitlementsLoop</label>
        <locationX>176</locationX>
        <locationY>1368</locationY>
        <collectionReference>newEntitlements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>existingEntitlements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createEntitlementRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createEntitlementRecords</name>
        <label>createEntitlementRecords</label>
        <locationX>176</locationX>
        <locationY>2052</locationY>
        <connector>
            <targetReference>updateExistingEntitlements</targetReference>
        </connector>
        <inputReference>newEntitlements</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getEntitlements</name>
        <label>getRecurringEntitlements</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThroughAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AboutToExpire__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_recurring__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasBeenRecurred__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dagligliv</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_Entitlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOtherEntitlements</name>
        <label>getOtherEntitlements</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createEntitlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIdsText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_Entitlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateExistingEntitlements</name>
        <label>updateExistingEntitlements</label>
        <locationX>176</locationX>
        <locationY>2160</locationY>
        <inputReference>entitlementsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEntitlements</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-21</startDate>
            <startTime>11:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountIdsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>entitlementsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Entitlement__c</objectType>
    </variables>
    <variables>
        <name>newEntitlementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Entitlement__c</objectType>
    </variables>
    <variables>
        <name>newEntitlements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Entitlement__c</objectType>
    </variables>
</Flow>
