force-app/main/default/flows/HOT_LOS_Manage_Rates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>recalculateLesekrav</name>
        <label>recalculateLesekrav</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HOT_ReCalculateClaimsPayoutBatch</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>HOT_ReCalculateClaimsPayoutBatch</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>recalculateLesekravAfterNewTravelRate</name>
        <label>recalculateLesekravAfterNewTravelRate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HOT_ReCalculateClaimsPayoutBatch</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>HOT_ReCalculateClaimsPayoutBatch</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>addInactiveToList</name>
        <label>addInactiveToList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inactiveRate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateExistingRatesLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateExistingRatesLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addRateToCollection</name>
        <label>addRateToCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setValidTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRateValues</name>
        <label>assignRateValues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rate.Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRates.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate.ValidFrom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRates.ValidFrom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate.isActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRates.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRates.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addRateToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTravelRateValues</name>
        <label>assignTravelRateValues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rate.Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExisitingTravelRate.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate.isActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExisitingTravelRate.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExisitingTravelRate.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate.ValidFrom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExisitingTravelRate.ValidFrom__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createNewTravelRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignValuesToExistingRate</name>
        <label>assignValuesToExistingRate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getExisitingTravelRate.isActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getExisitingTravelRate.ValidTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>validToFormulaSingle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getExisitingTravelRate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!getExisitingTravelRate.Name} - INAKTIV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateExistingTravelRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countNumberOfRates</name>
        <label>countNumberOfRates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sizeOfActiveRates</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>counterLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setExistingToInactive</name>
        <label>setExistingToInactive&apos;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updateExistingRatesLoop.isActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateExistingRatesLoop.ValidTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>validTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateExistingRatesLoop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!updateExistingRatesLoop.Name} - INAKTIV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addInactiveToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValidTo</name>
        <label>setValidTo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>validTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>validToFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRates</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Alle</name>
        <choiceText>Alle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kj_regodtgj_relse</name>
        <choiceText>Kjøregodtgjørelse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kjøregodtgjørelse</stringValue>
        </value>
    </choices>
    <choices>
        <name>vrige_satser</name>
        <choiceText>Øvrige satser</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Øvrige satser</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_existing_rates</name>
        <label>Are there existing rates?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>createNewRateScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No active rates</defaultConnectorLabel>
        <rules>
            <name>Active_rates_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sizeOfActiveRates</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOthersOrTravelScreen</targetReference>
            </connector>
            <label>Active rates found</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateRatesOrTravelRates</name>
        <label>UpdateRatesOrTravelRates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>getExisitingTravelRate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Travel rate</defaultConnectorLabel>
        <rules>
            <name>Other_rates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateOthersOrTravelPicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vrige_satser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopRates</targetReference>
            </connector>
            <label>Other rates</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rateCollection</name>
        <collectionReference>getActiveRates</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>HOT_Rate__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>validToFormula</name>
        <dataType>Date</dataType>
        <expression>{!loopRates.ValidFrom__c} - 1</expression>
    </formulas>
    <formulas>
        <name>validToFormulaSingle</name>
        <dataType>Date</dataType>
        <expression>{!getExisitingTravelRate.ValidFrom__c} -1</expression>
    </formulas>
    <interviewLabel>HOT LOS Manage Rates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Behandle satser for Lese- og sekretærhjelp</label>
    <loops>
        <name>counterLoop</name>
        <label>counterLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getActiveRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>countNumberOfRates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_existing_rates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopRates</name>
        <label>loopRates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getActiveRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>selectRateScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createNewRate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>updateExistingRatesLoop</name>
        <label>updateExistingRatesLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getActiveRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setExistingToInactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateInactive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createFirstRate</name>
        <label>createFirstRate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>newRateCreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorNoRateCreatedScreen</targetReference>
        </faultConnector>
        <inputReference>rate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createNewRate</name>
        <label>createNewRate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>finishScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <inputReference>newRates</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createNewTravelRate</name>
        <label>createNewTravelRate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignValuesToExistingRate</targetReference>
        </connector>
        <inputReference>rate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getActiveRates</name>
        <label>getActiveRates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>counterLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Kjøregodtgjørelse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExisitingTravelRate</name>
        <label>getExisitingTravelRate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateTravelRateScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kjøregodtgjørelse</stringValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExistingTravelRate</name>
        <label>UpdateExistingTravelRate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>finishScreenTravelRate</targetReference>
        </connector>
        <inputReference>getExisitingTravelRate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateInactive</name>
        <label>updateInactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recalculateLesekrav</targetReference>
        </connector>
        <inputReference>inactiveRate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>createNewRateScreen</name>
        <label>createNewRateScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createFirstRate</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.Rate__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.ValidFrom__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.ValidTo__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.isActive__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorNoRateCreatedScreen</name>
        <label>errorNoRateCreatedScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorNoRateCreatedText</name>
            <fieldText>&lt;p&gt;Det skjedde en feil! Ta kontakt med administrator!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;Noe gikk galt! Ta kontakt med administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finishScreen</name>
        <label>finishScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateExistingRatesLoop</targetReference>
        </connector>
        <fields>
            <name>finishScreenText</name>
            <fieldText>&lt;p&gt;Nye satser er lagt til og aktivert. De eksisterende er satt til &lt;strong&gt;inaktive&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Lesekrav med dato etter nytt virkningstidspunkt vil bli rekalkulert og sendt til utbetaling.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finishScreenTravelRate</name>
        <label>finishScreenTravelRate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recalculateLesekravAfterNewTravelRate</targetReference>
        </connector>
        <fields>
            <name>finishTravelRateScreenText</name>
            <fieldText>&lt;p&gt;Ny satser er lagt til og aktivert. Den &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;eksisterende &lt;/span&gt;kjøregodtgjørelsesatsen er satt til &lt;strong&gt;inaktiv&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Lesekrav med dato etter nytt virkningstidspunkt vil bli rekalkulert og sendt til utbetaling.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>introScreen</name>
        <label>introScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getActiveRates</targetReference>
        </connector>
        <fields>
            <name>introScreenText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Her kan du behandle satser relatert til Lese- og sekretærhjelp.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dersom det ikke finnes  aktive satser for alle typene, vil du få mulighet til å opprette disse nå.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Alternativt, dersom det allerede eksisterer satser, vil du få mulighet til å opprette nye gjeldene satser og samtidig deaktivere utgående.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>newRateCreated</name>
        <label>newRateCreated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>newRateCreatedText</name>
            <fieldText>&lt;p&gt;Du har nå opprettet {!rate.Name} med følgende verdier:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.Rate__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.ValidFrom__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rate.isActive__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectRateScreen</name>
        <label>selectRateScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignRateValues</targetReference>
        </connector>
        <fields>
            <name>rateSceenText</name>
            <fieldText>&lt;p&gt;Oppdater &lt;strong&gt;{!loopRates.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>loopRates.Rate__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>loopRates.ValidFrom__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>updateOthersOrTravelScreen</name>
        <label>updateOthersOrTravelScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateRatesOrTravelRates</targetReference>
        </connector>
        <fields>
            <name>updateOthersOrTravelText</name>
            <fieldText>&lt;p&gt;Vil du oppdatere kjøregodtgjørelse eller øvrige satser?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>updateOthersOrTravelPicklist</name>
            <choiceReferences>vrige_satser</choiceReferences>
            <choiceReferences>Kj_regodtgj_relse</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>updateTravelRateScreen</name>
        <label>updateTravelRateScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignTravelRateValues</targetReference>
        </connector>
        <fields>
            <name>updateTravelRate</name>
            <fieldText>&lt;p&gt;Oppdater &lt;strong&gt;{!getExisitingTravelRate.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getExisitingTravelRate.Rate__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getExisitingTravelRate.ValidFrom__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>introScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inactiveRate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HOT_Rate__c</objectType>
    </variables>
    <variables>
        <name>newRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Rate__c</objectType>
    </variables>
    <variables>
        <name>rate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HOT_Rate__c</objectType>
    </variables>
    <variables>
        <name>sizeOfActiveRates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>validTo</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
