force-app/main/default/flows/HOT_LOS_CheckForOverlapClaimLineItemsV2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>addCliToCollection</name>
        <label>addCliToCollection</label>
        <locationX>880</locationX>
        <locationY>3515</locationY>
        <assignmentItems>
            <assignToReference>clisToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addOverlappingIdToVariable</name>
        <label>Copy 1 of addOverlappingIdToVariable</label>
        <locationX>1144</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>checkForOverlap.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!loop1.Id},{!loop1.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_ifIdExistInFieldDoNotAdd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_addOverlappingIdToVariable</name>
        <label>Copy 1 of Copy 1 of addOverlappingIdToVariable</label>
        <locationX>1144</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>checkForOverlap.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!loop1.Id},{!loop1.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_ifIdExistInFieldDoNotAdd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_3_of_addOverlappingIdToVariable</name>
        <label>Copy 1 of Copy 3 of addOverlappingIdToVariable</label>
        <locationX>1144</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>loop1.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!checkForOverlap.Id},,{!checkForOverlap.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_checkForOverlappingTravelToTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_addOverlappingIdToVariable</name>
        <label>Copy 2 of Copy 1 of addOverlappingIdToVariable</label>
        <locationX>1144</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>checkForOverlap.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!loop1.Id},{!loop1.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_2_of_ifIdExistInFieldDoNotAdd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_3_of_addOverlappingIdToVariable</name>
        <label>Copy 2 of Copy 3 of addOverlappingIdToVariable</label>
        <locationX>1144</locationX>
        <locationY>3155</locationY>
        <assignmentItems>
            <assignToReference>loop1.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!checkForOverlap.Id},,{!checkForOverlap.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForOverlap</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_addOverlappingIdToVariable</name>
        <label>Copy 3 of addOverlappingIdToVariable</label>
        <locationX>1144</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>loop1.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!checkForOverlap.Id},,{!checkForOverlap.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForOverlappingTravelToTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNullIdDuplicates</name>
        <label>setNullIdDuplicates</label>
        <locationX>880</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>loop1.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>checkForOverlap</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNullIdDuplicatesRecord</name>
        <label>setNullIdDuplicatesRecord</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>setDuplicateIdFieldNull.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setDuplicateIdFieldNull</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkForOverlappingTravelToTimes</name>
        <label>checkForOverlappingTravelToTimes</label>
        <locationX>1232</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_checkForOverlappingTravelToTimes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no overlap</defaultConnectorLabel>
        <rules>
            <name>overlapTravelToTime</name>
            <conditionLogic>(1 AND 2 AND 7 AND 8) OR (3 AND 4 AND 7  AND 9 AND 8) OR (5 AND 6 AND 7 AND 10 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>loop1.TravelToStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.EndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.TravelToEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.StartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.TravelToStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelToEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.TravelToEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelToStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.TravelToStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelFromEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.TravelToEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelFromStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.HasTravelTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForOverlap.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>loop1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForOverlap.HasTravelTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForOverlap.HasTravelFrom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ifIdExistInFieldDoNotAdd</targetReference>
            </connector>
            <label>overlapTravelToTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_checkForOverlappingReadingTimes</name>
        <label>Copy 1 of checkForOverlappingReadingTimes</label>
        <locationX>1232</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>checkForOverlappingTravelToTimes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no overlap</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_overlapReadingTime</name>
            <conditionLogic>(1 AND 2 AND 9) OR (3 AND 4 AND 7 AND 9) OR (5 AND 6 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>loop1.StartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.EndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.EndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.StartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.StartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelToEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.EndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelToStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.StartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelFromEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.EndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelFromStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForOverlap.HasTravelTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForOverlap.HasTravelFrom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>checkForOverlap.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifIdExistInFieldDoNotAdd</targetReference>
            </connector>
            <label>Copy 1 of overlapReadingTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_checkForOverlappingTravelToTimes</name>
        <label>Copy 1 of checkForOverlappingTravelToTimes</label>
        <locationX>1232</locationX>
        <locationY>2639</locationY>
        <defaultConnector>
            <targetReference>checkForOverlap</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no overlap</defaultConnectorLabel>
        <rules>
            <name>overlapTravelFromTime</name>
            <conditionLogic>(1 AND 2 AND 7 AND 8) OR (3 AND 4 AND 7 AND 8 AND 9) OR (5 AND 6 AND 7 AND 8 AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>loop1.TravelFromStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.EndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.TravelFromEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.StartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.TravelFromStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelToEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.TravelFromEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelToStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.TravelFromStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelFromEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.TravelFromEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>checkForOverlap.TravelFromStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop1.HasTravelFrom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForOverlap.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>loop1.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForOverlap.HasTravelTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForOverlap.HasTravelFrom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_ifIdExistInFieldDoNotAdd</targetReference>
            </connector>
            <label>overlapTravelFromTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_2_of_ifIdExistInFieldDoNotAdd</name>
        <label>Copy 1 of Copy 2 of ifIdExistInFieldDoNotAdd</label>
        <locationX>1056</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_3_of_addOverlappingIdToVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_2_of_do_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop1.OverlappingClaimLineItemsIds__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>checkForOverlap.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_checkForOverlappingTravelToTimes</targetReference>
            </connector>
            <label>Copy 1 of Copy 2 of do exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_ifIdExistInFieldDoNotAdd</name>
        <label>Copy 1 of ifIdExistInFieldDoNotAdd</label>
        <locationX>1056</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_addOverlappingIdToVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_do_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkForOverlap.OverlappingClaimLineItemsIds__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop1.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_ifIdExistInFieldDoNotAdd</targetReference>
            </connector>
            <label>Copy 1 of do exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Copy_2_of_ifIdExistInFieldDoNotAdd</name>
        <label>Copy 2 of Copy 2 of ifIdExistInFieldDoNotAdd</label>
        <locationX>1056</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_3_of_addOverlappingIdToVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_2_of_do_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop1.OverlappingClaimLineItemsIds__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>checkForOverlap.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkForOverlap</targetReference>
            </connector>
            <label>Copy 2 of Copy 2 of do exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_ifIdExistInFieldDoNotAdd</name>
        <label>Copy 2 of ifIdExistInFieldDoNotAdd</label>
        <locationX>1056</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_addOverlappingIdToVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_do_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop1.OverlappingClaimLineItemsIds__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>checkForOverlap.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkForOverlappingTravelToTimes</targetReference>
            </connector>
            <label>Copy 2 of do exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_ifIdExistInFieldDoNotAdd</name>
        <label>Copy 3 of ifIdExistInFieldDoNotAdd</label>
        <locationX>1056</locationX>
        <locationY>2747</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_1_of_addOverlappingIdToVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_do_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkForOverlap.OverlappingClaimLineItemsIds__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop1.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_2_of_ifIdExistInFieldDoNotAdd</targetReference>
            </connector>
            <label>Copy 3 of do exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifIdExistInFieldDoNotAdd</name>
        <label>ifIdExistInFieldDoNotAdd</label>
        <locationX>1056</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_addOverlappingIdToVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>do_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkForOverlap.OverlappingClaimLineItemsIds__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop1.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_ifIdExistInFieldDoNotAdd</targetReference>
            </connector>
            <label>do exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OneDayAfterDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.EndTime__c}) + 1</expression>
    </formulas>
    <formulas>
        <name>OneDayBeforeDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.StartTime__c}) -1</expression>
    </formulas>
    <interviewLabel>HOT_LOS_CheckForOverlapClaimLineItemsV2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_LOS_CheckForOverlapClaimLineItemsV2</label>
    <loops>
        <name>checkForOverlap</name>
        <label>checkForOverlap</label>
        <locationX>880</locationX>
        <locationY>947</locationY>
        <collectionReference>getClaimLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_checkForOverlappingReadingTimes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>addCliToCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop1</name>
        <label>loop1</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <collectionReference>getClaimLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setNullIdDuplicates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>setDuplicateIdFieldNull</name>
        <label>setDuplicateIdFieldNull</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>getClaimLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setNullIdDuplicatesRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getClaimLineItems</name>
        <label>getClaimLineItems</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setDuplicateIdFieldNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claimant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Claimant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_ClaimLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAll</name>
        <label>updateAll</label>
        <locationX>176</locationX>
        <locationY>3707</locationY>
        <inputReference>clisToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getClaimLineItems</targetReference>
        </connector>
        <object>HOT_ClaimLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>clisToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_ClaimLineItem__c</objectType>
    </variables>
    <variables>
        <name>numberOfOverlappingClaimLineItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>overlappingClaimLineItemsIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
