force-app/main/default/flows/HOT_LOS_CheckForOverlapClaimLineItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>addCliToCollection</name>
        <label>addCliToCollection</label>
        <locationX>396</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>clisToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>checkForMatching</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForMatching</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addOverlappingIdToVariable</name>
        <label>addOverlappingIdToVariable</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>overlappingClaimLineItemsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!checkForMatching.Id},{!checkForMatching.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkForMatching.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!$Record.Id},{!$Record.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForOverlappingTravelToTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addOverlappingIdToVariable</name>
        <label>Copy 1 of addOverlappingIdToVariable</label>
        <locationX>264</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>overlappingClaimLineItemsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!checkForMatching.Id},{!checkForMatching.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkForMatching.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!$Record.Id},{!$Record.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_checkForOverlappingTravelToTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_addOverlappingIdToVariable</name>
        <label>Copy 2 of addOverlappingIdToVariable</label>
        <locationX>264</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>overlappingClaimLineItemsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!checkForMatching.Id},{!checkForMatching.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkForMatching.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!$Record.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCliToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNullIdDuplicates</name>
        <label>setNullIdDuplicates</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>checkForMatching.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>checkForOverlappingReadingTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNullIdDuplicatesRecord</name>
        <label>setNullIdDuplicatesRecord</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.OverlappingClaimLineItemsIds__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>checkForMatching</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkForOverlappingReadingTimes</name>
        <label>checkForOverlappingReadingTimes</label>
        <locationX>396</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>checkForOverlappingTravelToTimes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no overlap</defaultConnectorLabel>
        <rules>
            <name>overlapReadingTime</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 7) OR (5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>checkForMatching.StartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.EndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.EndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.StartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.StartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelToEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.EndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelToStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.StartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.EndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.HasTravelTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.HasTravelFrom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addOverlappingIdToVariable</targetReference>
            </connector>
            <label>overlapReadingTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForOverlappingTravelToTimes</name>
        <label>checkForOverlappingTravelToTimes</label>
        <locationX>396</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_checkForOverlappingTravelToTimes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no overlap</defaultConnectorLabel>
        <rules>
            <name>overlapTravelToTime</name>
            <conditionLogic>(1 AND 2 AND 7) OR (3 AND 4 AND 7 ) OR (5 AND 6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>checkForMatching.TravelToStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.EndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelToEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.StartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelToStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelToEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelToEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelToStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelToStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelToEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.HasTravelTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.HasTravelFrom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_addOverlappingIdToVariable</targetReference>
            </connector>
            <label>overlapTravelToTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_checkForOverlappingTravelToTimes</name>
        <label>Copy 1 of checkForOverlappingTravelToTimes</label>
        <locationX>396</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>addCliToCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no overlap</defaultConnectorLabel>
        <rules>
            <name>overlapTravelFromTime</name>
            <conditionLogic>(1 AND 2 AND 8) OR (3 AND 4 AND 7 AND 8) OR (5 AND 6 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.EndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.StartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelToEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelToStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromStartTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromEndTime__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.HasTravelTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.HasTravelFrom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_addOverlappingIdToVariable</targetReference>
            </connector>
            <label>overlapTravelFromTime</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_LOS_CheckForOverlapClaimLineItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_LOS_CheckForOverlapClaimLineItems</label>
    <loops>
        <name>checkForMatching</name>
        <label>checkForMatching</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>getClaimLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setNullIdDuplicates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getClaimLineItems</name>
        <label>getClaimLineItems</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setNullIdDuplicatesRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claimant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Claimant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_ClaimLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAll</name>
        <label>updateAll</label>
        <locationX>176</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>updateClaimLineItem</targetReference>
        </connector>
        <inputReference>clisToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateClaimLineItem</name>
        <label>updateClaimLineItem</label>
        <locationX>176</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>OverlappingClaimLineItemsIds__c</field>
            <value>
                <elementReference>overlappingClaimLineItemsIds</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getClaimLineItems</targetReference>
        </connector>
        <object>HOT_ClaimLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>clisToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_ClaimLineItem__c</objectType>
    </variables>
    <variables>
        <name>numberOfOverlappingClaimLineItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>overlappingClaimLineItemsIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
