force-app/main/default/flows/HOT_LOS_Recurring_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>newEntitlement</name>
        <label>newEntitlement</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.Is_recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createEntitlements.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.EntitledHoursUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.EntitledHoursAlreadyUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.EntitledHours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createEntitlements.EntitledHours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.ToDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add1YearToToDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.FromDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add1YearToFromDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlementRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createEntitlements.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEntitlements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newEntitlementRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEntitlement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateEntitlement</name>
        <label>updateEntitlement</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>createEntitlements.HasBeenRecurred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>entitlementsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createEntitlements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createEntitlements</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>add1YearToFromDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR({!createEntitlements.FromDate__c}) + 1,
  MONTH({!createEntitlements.FromDate__c}),
  CASE(
    MONTH({!createEntitlements.FromDate__c}),
    2, IF(
         DAY({!createEntitlements.FromDate__c}) &gt; 28,
         IF(
           OR(
             MOD(YEAR({!createEntitlements.FromDate__c}) + 1, 400) = 0,
             AND(
               MOD(YEAR({!createEntitlements.FromDate__c}) + 1, 100) &lt;&gt; 0,
               MOD(YEAR({!createEntitlements.FromDate__c}) + 1, 4) = 0
             )
           ),
           29,
           28
         ),
         DAY({!createEntitlements.FromDate__c})
       ),
    4, IF(DAY({!createEntitlements.FromDate__c}) &gt; 30, 30, DAY({!createEntitlements.FromDate__c})),
    6, IF(DAY({!createEntitlements.FromDate__c}) &gt; 30, 30, DAY({!createEntitlements.FromDate__c})),
    9, IF(DAY({!createEntitlements.FromDate__c}) &gt; 30, 30, DAY({!createEntitlements.FromDate__c})),
    11, IF(DAY({!createEntitlements.FromDate__c}) &gt; 30, 30, DAY({!createEntitlements.FromDate__c})),
    DAY({!createEntitlements.FromDate__c})
  )
)</expression>
    </formulas>
    <formulas>
        <name>add1YearToToDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR({!createEntitlements.ToDate__c}) + 1,
  MONTH({!createEntitlements.ToDate__c}),
  CASE(
    MONTH({!createEntitlements.ToDate__c}),
    2, IF(
         DAY({!createEntitlements.ToDate__c}) &gt; 28,
         IF(
           OR(
             MOD(YEAR({!createEntitlements.ToDate__c}) + 1, 400) = 0,
             AND(
               MOD(YEAR({!createEntitlements.ToDate__c}) + 1, 100) &lt;&gt; 0,
               MOD(YEAR({!createEntitlements.ToDate__c}) + 1, 4) = 0
             )
           ),
           29,
           28
         ),
         DAY({!createEntitlements.ToDate__c})
       ),
    4, IF(DAY({!createEntitlements.ToDate__c}) &gt; 30, 30, DAY({!createEntitlements.ToDate__c})),
    6, IF(DAY({!createEntitlements.ToDate__c}) &gt; 30, 30, DAY({!createEntitlements.ToDate__c})),
    9, IF(DAY({!createEntitlements.ToDate__c}) &gt; 30, 30, DAY({!createEntitlements.ToDate__c})),
    11, IF(DAY({!createEntitlements.ToDate__c}) &gt; 30, 30, DAY({!createEntitlements.ToDate__c})),
    DAY({!createEntitlements.ToDate__c})
  )
)</expression>
    </formulas>
    <interviewLabel>HOT LOS Recurring Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT LOS Recurring Entitlement</label>
    <loops>
        <name>createEntitlements</name>
        <label>createEntitlements</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>getEntitlements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>newEntitlement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createEntitlementRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createEntitlementRecords</name>
        <label>createEntitlementRecords</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>updateExistingEntitlements</targetReference>
        </connector>
        <inputReference>newEntitlements</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getEntitlements</name>
        <label>getRecurringEntitlements</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createEntitlements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AboutToExpire__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_recurring__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasBeenRecurred__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_Entitlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateExistingEntitlements</name>
        <label>updateExistingEntitlements</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <inputReference>entitlementsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEntitlements</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-19</startDate>
            <startTime>13:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>entitlementsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Entitlement__c</objectType>
    </variables>
    <variables>
        <name>newEntitlementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Entitlement__c</objectType>
    </variables>
    <variables>
        <name>newEntitlements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>HOT_Entitlement__c</objectType>
    </variables>
</Flow>
