force-app/main/default/flows/HOT_LOS_CheckForOverlapClaimLineItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>addOverlappingIdToVariable</name>
        <label>addOverlappingIdToVariable</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>overlappingClaimLineItemsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!checkForMatching.Id}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberOfOverlappingClaimLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForOverlappingTravelToTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addOverlappingIdToVariable</name>
        <label>Copy 1 of addOverlappingIdToVariable</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>overlappingClaimLineItemsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!checkForMatching.Id}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberOfOverlappingClaimLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_checkForOverlappingTravelToTimes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_addOverlappingIdToVariable</name>
        <label>Copy 2 of addOverlappingIdToVariable</label>
        <locationX>270</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>overlappingClaimLineItemsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,{!checkForMatching.Id}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberOfOverlappingClaimLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForMatching</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkForOverlappingReadingTimes</name>
        <label>checkForOverlappingReadingTimes</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>checkForOverlappingTravelToTimes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no overlap</defaultConnectorLabel>
        <rules>
            <name>overlapReadingTime</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>checkForMatching.StartTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.EndTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.StartTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelToStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.EndTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelToEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.StartTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.EndTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addOverlappingIdToVariable</targetReference>
            </connector>
            <label>overlapReadingTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForOverlappingTravelToTimes</name>
        <label>checkForOverlappingTravelToTimes</label>
        <locationX>402</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_checkForOverlappingTravelToTimes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no overlap</defaultConnectorLabel>
        <rules>
            <name>overlapTravelToTime</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>checkForMatching.TravelToStartTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelToEndTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelToStartTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelToStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelToEndTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelToEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelToStartTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelToEndTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_addOverlappingIdToVariable</targetReference>
            </connector>
            <label>overlapTravelToTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_checkForOverlappingTravelToTimes</name>
        <label>Copy 1 of checkForOverlappingTravelToTimes</label>
        <locationX>402</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>checkForMatching</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no overlap</defaultConnectorLabel>
        <rules>
            <name>overlapTravelFromTime</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromStartTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromEndTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromStartTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelToStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromEndTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelToEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromStartTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromStartTime__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkForMatching.TravelFromEndTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TravelFromEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_addOverlappingIdToVariable</targetReference>
            </connector>
            <label>overlapTravelFromTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifClaimLineItemHasOverlap</name>
        <label>ifClaimLineItemHasOverlap</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasOverlap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfOverlappingClaimLineItems</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateClaimLineItem</targetReference>
            </connector>
            <label>hasOverlap</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_LOS_CheckForOverlapClaimLineItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_LOS_CheckForOverlapClaimLineItems</label>
    <loops>
        <name>checkForMatching</name>
        <label>checkForMatching</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>getClaimLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkForOverlappingReadingTimes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ifClaimLineItemHasOverlap</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getClaimLineItems</name>
        <label>getClaimLineItems</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkForMatching</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claimant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Claimant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HOT_ClaimLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateClaimLineItem</name>
        <label>updateClaimLineItem</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <inputAssignments>
            <field>OverlappingClaimLineItemsIds__c</field>
            <value>
                <elementReference>overlappingClaimLineItemsIds</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getClaimLineItems</targetReference>
        </connector>
        <object>HOT_ClaimLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>numberOfOverlappingClaimLineItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>overlappingClaimLineItemsIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
