force-app/main/default/flows/HOT_ProcessClaim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>declineClaim</name>
        <label>declineClaim</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>getClaim.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Declined by NAV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getClaim.CommentFromNAV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeclineClaimReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>declineUpdateClaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateClaim</name>
        <label>updateClaim</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>getClaim.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved by NAV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getClaim.ApprovedByNAV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>approveUpdateClaim</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>approve</name>
        <choiceText>Godkjenn kravet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>decline</name>
        <choiceText>Avslå kravet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>decline</stringValue>
        </value>
    </choices>
    <decisions>
        <name>claimStatus</name>
        <label>claimStatus</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ApproveOrDeclineScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_approved_by_user</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getClaim.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined by user</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getClaim.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getClaim.ApprovedByUser__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notApprovedByUser</targetReference>
            </connector>
            <label>Not approved by user</label>
        </rules>
        <rules>
            <name>Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClaim.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>withdrawnScreen</targetReference>
            </connector>
            <label>Withdrawn</label>
        </rules>
        <rules>
            <name>Already_processed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getClaim.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getClaim.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alreadyProcessedScreen</targetReference>
            </connector>
            <label>Already processed</label>
        </rules>
        <rules>
            <name>No_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClaim.Entitlement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noEntitlementScreen</targetReference>
            </connector>
            <label>No Entitlement</label>
        </rules>
        <rules>
            <name>no_claimant_bank_account_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getClaim.Claimant__r.CRM_Person__r.INT_BankAccountNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noClaimantBankAccountScreen</targetReference>
            </connector>
            <label>no claimant bank account number</label>
        </rules>
    </decisions>
    <decisions>
        <name>NAVApprovedOrDeclined</name>
        <label>NAVApprovedOrDeclined</label>
        <locationX>1502</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>declineClaim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Declined</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproveOrDeclineRadioBtns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateClaim</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_ProcessClaim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getClaim</name>
        <label>getClaim</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>claimStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>approveUpdateClaim</name>
        <label>approveUpdateClaim</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <inputReference>getClaim</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>declineUpdateClaim</name>
        <label>declineUpdateClaim</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <inputReference>getClaim</inputReference>
    </recordUpdates>
    <screens>
        <name>alreadyProcessedScreen</name>
        <label>alreadyProcessedScreen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>alreadyProcessedText</name>
            <fieldText>&lt;p&gt;Kravet er allerede godkjent av NAV, sendt til utbetaling, eller utbetalt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ApproveOrDeclineScreen</name>
        <label>ApproveOrDeclineScreen</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NAVApprovedOrDeclined</targetReference>
        </connector>
        <fields>
            <name>ApproveOrDeclineScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ApproveOrDeclineScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApproveOrDeclineRadioBtns</name>
                    <choiceReferences>decline</choiceReferences>
                    <choiceReferences>approve</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>approve</defaultSelectedChoiceReference>
                    <fieldText>Behandle kravet</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DeclineClaimReason</name>
                    <dataType>String</dataType>
                    <fieldText>Oppgi en kommentar til hvorfor NAV avslår kravet</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ApproveOrDeclineRadioBtns</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>decline</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>noClaimantBankAccountScreen</name>
        <label>noClaimantBankAccountScreen</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noClaimantBankAccountText</name>
            <fieldText>&lt;p&gt;Kravet kan ikke godkjennes fordi lesehjelpen mangler kontonummer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>noEntitlementScreen</name>
        <label>noEntitlementScreen</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noEntitlementText</name>
            <fieldText>&lt;p&gt;Kravet må være tilkoblet et vedtak&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>notApprovedByUser</name>
        <label>notApprovedByUser</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>notApprovedByUserText</name>
            <fieldText>&lt;p&gt;Kravet er ikke godkjent av bruker.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>withdrawnScreen</name>
        <label>withdrawnScreen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>withdrawnText</name>
            <fieldText>&lt;p&gt;Kravet er tilbaketrukket av lesehjelpen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getClaim</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
