force-app/main/default/flows/HOT_LOS_SendSMSToAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>errorAssignment</name>
        <label>errorAssignment</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createSMS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setChoosenQuickText</name>
        <label>setChoosenQuickText</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>choosenQuickTextValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Velg_en_hurtigtekst_eller_bare_g_videre</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>typeMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSMSValue</name>
        <label>setSMSValue</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>sms.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LOS Manually Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPersonRecord.INT_KrrMobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSMS</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>noQuickText</name>
        <choiceText>Ingen hurtigtekst</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>quickTextChoice1</name>
        <choiceText>{!quickText1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quickText1</elementReference>
        </value>
    </choices>
    <decisions>
        <name>checkRecipient</name>
        <label>checkRecipient</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>recipientIsNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_phone_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPersonRecord.INT_KrrMobilePhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>quickTextOptions</targetReference>
            </connector>
            <label>Has phone number</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT LOS Send SMS To Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT LOS Send SMS To Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createSMS</name>
        <label>createSMS</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <faultConnector>
            <targetReference>errorAssignment</targetReference>
        </faultConnector>
        <inputReference>sms</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getPersonRecord</name>
        <label>getPersonRecord</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRecipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;{!error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>quickTextOptions</name>
        <label>quickTextOptions</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setChoosenQuickText</targetReference>
        </connector>
        <fields>
            <name>Velg_en_hurtigtekst_eller_bare_g_videre</name>
            <choiceReferences>noQuickText</choiceReferences>
            <choiceReferences>quickTextChoice1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>noQuickText</defaultSelectedChoiceReference>
            <fieldText>Velg en hurtigtekst eller bare g책 videre</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>recipientIsNull</name>
        <label>recipientIsNull</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsng</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Brukeren har ikke registrert et telefonnummer i kontakt- og reservasjonsregisteret, og du kan derfor ikke sende en sms til bruker p책 denne m책ten.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>typeMessage</name>
        <label>typeMessage</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setSMSValue</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <defaultValue>
                <stringValue>{!choosenQuickTextValue}
{!endMessageText}</stringValue>
            </defaultValue>
            <fieldText>Melding</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPersonRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>endMessageText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Du kan ikke svare p책 denne meldingen. 
Mvh  NAV</text>
    </textTemplates>
    <textTemplates>
        <name>quickText1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>TEKST 1</text>
    </textTemplates>
    <variables>
        <name>choosenQuickTextValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>
