force-app/main/default/flows/HOT_CreateClaimLineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Claim_Line_Item</name>
        <label>Create Claim Line Item</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>HOT_CreateClaimLineItem</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>claimId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>distanceTraveled</name>
            <value>
                <elementReference>Travel_distance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>Til</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>friday</name>
            <value>
                <elementReference>Fredag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hasTraveledFrom</name>
            <value>
                <elementReference>Har_reist_fra</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hasTraveledTo</name>
            <value>
                <elementReference>Har_reist_til</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>monday</name>
            <value>
                <elementReference>Mandag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recurringEndDate</name>
            <value>
                <elementReference>Sluttdato</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recurringType</name>
            <value>
                <elementReference>Gjenta</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saturday</name>
            <value>
                <elementReference>Lordag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>Fra</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sunday</name>
            <value>
                <elementReference>Sondag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>thursday</name>
            <value>
                <elementReference>Torsdag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelFromEndDate</name>
            <value>
                <elementReference>Reise_fra_slutttid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelFromStartDate</name>
            <value>
                <elementReference>Reise_fra_starttid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelToEndDate</name>
            <value>
                <elementReference>Reise_til_slutttid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>travelToStartDate</name>
            <value>
                <elementReference>Reise_til_starttid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tuesday</name>
            <value>
                <elementReference>Tirsdag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wednesday</name>
            <value>
                <elementReference>Onsdag</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HOT_CreateClaimLineItem</nameSegment>
        <outputParameters>
            <assignToReference>Error</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Aldri</name>
        <choiceText>Aldri</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hver_andre_uke</name>
        <choiceText>Hver 2. uke</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biweekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hver_dag</name>
        <choiceText>Hver dag</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hver_uke</name>
        <choiceText>Hver uke</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Error_Decision</name>
        <label>Error?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Error</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>End_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Til})</expression>
    </formulas>
    <formulas>
        <name>HasTraveledFromEnd_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Reise_fra_slutttid})</expression>
    </formulas>
    <formulas>
        <name>HasTraveledFromStart_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Reise_fra_starttid})</expression>
    </formulas>
    <formulas>
        <name>HasTraveledToEnd_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Reise_til_slutttid})</expression>
    </formulas>
    <formulas>
        <name>HasTraveledToStart_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Reise_til_starttid})</expression>
    </formulas>
    <formulas>
        <name>Start_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Fra})</expression>
    </formulas>
    <interviewLabel>Create Claim Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Claim Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getClaim</name>
        <label>getClaim</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOT_Claim__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Feilmelding</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!Error}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Klikk tilbake, og se om noe er skrevet inn feil.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Claim_Line_Item</targetReference>
        </connector>
        <fields>
            <name>Fra</name>
            <dataType>DateTime</dataType>
            <fieldText>Start</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Til</name>
            <dataType>DateTime</dataType>
            <fieldText>Slutt</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Har_reist_til</name>
            <dataType>Boolean</dataType>
            <fieldText>Har reist til</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reise_til_starttid</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Fra</elementReference>
            </defaultValue>
            <fieldText>Reise til starttid</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Dato må være samme som oppdrags start dato.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!HasTraveledToStart_Date} = {!Start_Date}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Har_reist_til</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reise_til_slutttid</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Fra</elementReference>
            </defaultValue>
            <fieldText>Reise til slutttid</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Dato må være samme som oppdrags slutt dato.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!HasTraveledToEnd_Date} = {!Start_Date}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Har_reist_til</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Har_reist_fra</name>
            <dataType>Boolean</dataType>
            <fieldText>Har reist fra</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reise_fra_starttid</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Til</elementReference>
            </defaultValue>
            <fieldText>Reise fra starttid</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dato må være samme som oppdrags slutt dato.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!HasTraveledFromStart_Date} = {!End_Date}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Har_reist_fra</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reise_fra_slutttid</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Til</elementReference>
            </defaultValue>
            <fieldText>Reise fra slutttid</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Dato må være samme som oppdrags slutt dato. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!HasTraveledFromEnd_Date} = {!End_Date}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Har_reist_fra</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Travel_distance</name>
            <dataType>Number</dataType>
            <fieldText>Travel distance (km)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Har_reist_fra</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Har_reist_til</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Gjenta</name>
            <choiceReferences>Aldri</choiceReferences>
            <choiceReferences>Hver_dag</choiceReferences>
            <choiceReferences>Hver_uke</choiceReferences>
            <choiceReferences>Hver_andre_uke</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Aldri</defaultSelectedChoiceReference>
            <fieldText>Gjenta</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dager_text</name>
            <fieldText>&lt;p&gt;Dager&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mandag</name>
            <dataType>Boolean</dataType>
            <fieldText>Mandag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tirsdag</name>
            <dataType>Boolean</dataType>
            <fieldText>Tirsdag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Onsdag</name>
            <dataType>Boolean</dataType>
            <fieldText>Onsdag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Torsdag</name>
            <dataType>Boolean</dataType>
            <fieldText>Torsdag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fredag</name>
            <dataType>Boolean</dataType>
            <fieldText>Fredag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lordag</name>
            <dataType>Boolean</dataType>
            <fieldText>Lørdag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sondag</name>
            <dataType>Boolean</dataType>
            <fieldText>Søndag</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_uke</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Hver_andre_uke</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sluttdato</name>
            <dataType>Date</dataType>
            <fieldText>Sluttdato</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Gjenta</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Aldri</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getClaim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
